
<script src="/JQuery-v.3.js"></script>
<script src="/Popper.min.js"></script>
<script src="/BOOTSTRAP_4.js"></script>
<script src="/script/script.js"></script>
<script>
    if("<%=error%>"){
        speak("<%=error%>");
    }
    else if("<%=success%>"){
        speak("<%=success%>");
    }
</script>
</body>

</html>