<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Janice</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/BOOTSTRAP_4.css" type="text/css">
    <link rel="stylesheet" href="/Fontawesome/css/all.css" type="text/css">
    <link rel="stylesheet" href="stylesheet/style.css">
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid h5">
            <a class="navbar-brand" href="/"><img class="" src="logo-via-logohub.png" width="50" height="30"
                    alt=""></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="myNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item <%=typeof page != undefined && page === 'home'?'active':''%>">
                        <a class="nav-link text-light" href="/">Home</a>
                    </li>
                    <li class="nav-item <%=typeof page != undefined && page === 'transaction'?'active':''%>">
                        <a class="nav-link text-light" href="/transaction">Transactions</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link text-light" href="/logout">Logout <i class="fas fa-sign-out-alt fa-fw"></i></a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>
