<%-include ('partials/header.ejs')%>
<div class="">
    <h1>Transaction History</h1>
</div>

<div class="container">
    <div class="border border-dark rounded">
        <div></div>
    </div>
</div>
<%-include ('partials/footer.ejs')%>